@import "variables";
$sacc-color: #f567ae;
$blue: #0ac4ff;
$pink: #fd6eb6;
@mixin circle($color) {
  display: inline-block;
  border-radius: 50%;
  margin-left: 10px;
  text-align: center;
  background-color: $color;
}

.main {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: $sacc-color;
  h1 {
    color: #f8f8f8;
    font-size: 34px;
  }
  p {
    color: #efefef;
    font-size: 16px;
  }
}

.btn {
  display: inline-block;
  border-radius: 50%;
  margin: 10px;
  text-align: center;
  height: 64px;
  width: 64px;
  color: #ffffff;
  font-size: 32px;
  box-shadow: 1px 2px 6px rgba(106, 137, 152, 0.3);
}

.twitter {
  background-color: $twitter;
  &:hover {
    background-color: rgba($twitter, 0.5);
  }
}

.facebook {
  background-color: $facebook;
  &:hover {
    background-color: rgba($facebook, 0.5);
  }
}

.fab {
  line-height: 64px;
}

.button {
  display: block;
  padding: 8px 24px;
  color: white;
  opacity: 0.8;
  border-radius: 4px;
  background-color: $sacc-color;
  cursor: pointer;
  box-shadow: 0 5px #e04893;
  &:hover {
    opacity: 1;
  }
  &:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
}

li {
  list-style: none;
  float: left;
  height: 100px;
  width: 33%;
  margin-bottom: 10px;
}

.blue1 {
  background-color: $blue;
}

.blue2 {
  background-color: darken($blue, 20%);
}

.blue3 {
  background-color: rgba($blue, 0.5);
}

.pink1 {
  background-color: $pink;
}

.pink2 {
  background-color: lighten($pink, 10%);
}

.pink3 {
  background-color: lighten($pink, 20%);
}

.small {
  @include circle (#20efae);
  width: 34px;
  height: 34px;
}

.medium {
  @include circle (#20efae);
  width: 62px;
  height: 62px;
}

.large {
  @include circle (#10684c);
  width: 90px;
  height: 90px;
}